@mixin COMPANYLOGOUP{
    .company-photo{
        position: absolute;
        width:50px;
        height:50px;
        top:0;
        left:1rem;
        transform: translateY(-50%);
    }
}

@media (max-width: 766px){
    @include COMPANYLOGOUP
}

@media (min-width: 767px){
    .display-card{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        .company-photo{
            width:50px;
            height:50px;
            margin-right:2rem;
    
        }
        .lead{
            font-size:1.2rem;
        }

        .card-top{
            flex:1;
            border-bottom:none;
        }
        .card-bottom{
            width:40%;
        }
    }
    .filter-tablet{
        margin-right: 1rem;
        margin-bottom:0;
    }
}
